.business-parent {
/* 
    display: flex;
    justify-content: center; */
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1.5rem 0;
    border-right: none;
    border-left: none;
    justify-items: center;
    margin-bottom: 2rem;
    /* background-color: #e0f7fb; */
}

.tag-line {
    display: flex;
    justify-content: center;
}

.search-term-result {
    /* margin: 1rem; */
    display: flex;
    justify-content: center;
    font-size: .85rem;
    font-weight: 525;
    color: #3C4243;
}

.searchDisplayText {
    margin: 1rem;
}


.business-frame {
    border: 1px solid #B3C5C8;
    border-radius: .25rem;
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9DEE1;
    /* box-shadow: 3px 4px rgb(0 0 0 / 50%), 0 1px 3px hsla(0, 0%, 0%, .2); */
    box-shadow: 2px 3px rgb(0 0 0 / 50%), 0 0px 2px hsla(0, 0%, 0%, .2);
}

.business-name {
    font-size: 1.25rem;
    font-weight: 530;
    text-align: center;
    margin-bottom: .5rem;
}

.business-price {
    font-size: .75rem;
    letter-spacing: 1px;
    color: #3C4243;
}

.business-rating {
    font-size: .75rem;
    color: #3C4243;
}

.review-count {
    margin-right: .5rem;
}

.price-rating {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: .5rem;
    align-items: center;
    flex-direction: column;
}

.business-photo {
    height: 50%;
    width: 50%;
    margin-bottom: 15px;

}

.business-category-container {
    grid-area: cat;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: flex-end; */
    flex-wrap: wrap;
    color: #3C4243;
    margin-bottom: .25rem;
}

.business-category {
    font-size: .75rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.business-address {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A2E2E;
}

 .business-address-line-1 .business-address-line-2 {
     font-size: .75rem;
 }

.business-frame:hover > .business-name {
    cursor: pointer;
    /* color: #646F70; */
    color: #282C2D;
    /* box-shadow: 3px 3px #107383, -1em 0 .4em #0a454f; */
}

.business-frame:hover .business-category{
    color: #646F70;
    /* box-shadow: 3px 3px #107383, -1em 0 .4em #0a454f; */
}

.business-frame:hover .business-price, .price-rating, .business-category {
    color: #3C4243;
    /* box-shadow: 3px 3px #107383, -1em 0 .4em #0a454f; */
}

/* .business-frame:hover {
    box-shadow: 2px 3px rgb(0 0 0 / 50%), 0 0px 2px hsla(0, 0%, 0%, .2);
} */
.business-frame:hover {
    box-shadow: 3px 4px rgb(0 0 0 / 50%), 0 1px 3px hsla(0, 0%, 0%, .2);
    
}