.rating-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 1rem 0;
    width: 322px; /* this is the width of the business image */
}

.rating:checked {
    /* color: #FBF2E0; */
    color: #000;
}

.rating:hover {
    cursor: pointer;
}