.review-form-container {
    display: flex;
    justify-content: center;
    /* margin: 1rem 0;
    width: 322px; */
}

.review-form {
    display: flex;
    flex-direction: column;
}

.review-label {
    margin-top: .5rem;
    margin-bottom: .5rem;
    text-align: left;
}

.review {

}

.review-submit-btn {
    width: 5rem;
    margin: .5rem auto;
}