.business-parent {
/* 
    display: flex;
    justify-content: center; */
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 1.5rem 0;
    border-right: none;
    border-left: none;
    justify-items: center;
    background-color: #e0f7fb;
}

.searchTermResult {
    /* margin: 1rem; */
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 525;
}

.searchDisplayText {
    margin: 1rem;
}


.business-frame {
    border: 1px solid #B3C5C8;
    border-radius: .25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9DEE1;
}

.business-name {
    font-size: 1.25rem;
    font-weight: 530;
}

.business-price {
    font-size: .75rem;
}

.business-rating {
    font-size: .75rem;
}

.business-photo {
    height: 50%;
    width: 50%;
    margin-bottom: 15px;

}

.business-frame:hover {
    cursor: pointer;
    /* box-shadow: 3px 3px #107383, -1em 0 .4em #0a454f; */
}