.single-business-parent {
    /* padding: 1.5rem 0; */
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.single-business-frame {
    /* border: 1px solid #B3C5C8;
    border-radius: .25rem; */
    width: 100%;
    display: grid;
        grid-template-areas: 
            "name name name name"
            ". info info ."
            ". y-i y-i ."
            "pics pics pics pics"
            ". ra-ra ra-ra .";
}

.rat-rev {
    grid-area: ra-ra;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yelp-info {
    grid-area: y-i;
    display: flex;
    justify-content: space-between;
}

.single-business-name {
    grid-area: name;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto;
    text-align: center;
    display: flex;
}

.single-business-info {
    grid-area: info;
    display: flex;
    justify-content: center;
}

.single-business-price {
    font-size: .75rem;
}

.single-business-rating {
    font-size: .75rem;
}

.photos {
    grid-area: pics;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.single-business-photo {
    height: 15rem;
    width: 20rem;
    margin-bottom: 1rem;
    padding: 1rem;

}

