.single-business-parent {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    border-left: none;
}

.single-business-frame {
    border: 1px solid #B3C5C8;
    border-radius: .25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C9DEE1;
}

.business-name {
    font-size: 1.25rem;
    font-weight: 530;
}

.business-price {
    font-size: .75rem;
}

.business-rating {
    font-size: .75rem;
}

.business-photo {
    height: 50%;
    width: 50%;
    margin-bottom: 15px;

}

