.nav-body { 
    display: flex;
    justify-content: space-around;
    background-color: #9cacaf;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0;
    text-decoration: none;
    /* width: 100%; */
    /* border: 1px solid #2d0c06;
    border-radius: 20px; */
}

.login {
    margin-left: -1rem;
    padding-right: 1rem;
}

.signup {
    padding-right: 1rem;
}

.link-parent {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.title, .logout, .login, .signup {
    color: rgb(85, 26, 139);
    /* font-weight: bold; */
    font-size: 1rem;
    text-decoration: none;
}

.title:hover, .logout:hover {
    cursor: pointer;
}